# 1. identifikace aktivních a neaktivních stanic

# 1.1 součet počtu příjezdů a odjezdů na jednotlivých stanicích

In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\legion\anaconda3\lib\site-packages (1.0.2)

[notice] A new release of pip available: 22.2 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
from sqlalchemy import create_engine
import pandas as pd
import pymysql

masina = create_engine("mysql+pymysql://data-student:u9AB6hWGsNkNcRDm@data.engeto.com:3306/data_academy_04_2022")

In [4]:
dotaz = 'WITH odjezdy AS (SELECT count(`start_station_name`) AS pocet_odjezdu,`start_station_name` AS nazev_stanice FROM edinburgh_bikes GROUP BY `start_station_name` ORDER BY count(`start_station_name`) DESC) SELECT * FROM odjezdy'
data = pd.read_sql(sql=dotaz, con=masina)
#data
data_f = pd.DataFrame(data)
data_f

     pocet_odjezdu                                      nazev_stanice
0            17390                                       Meadows East
1            12846                                      Bristo Square
2            12464                                       Meadow Place
3            12218                                   St Andrew Square
4            11843                            Portobello - Kings Road
..             ...                                                ...
163              2       Pleasance - Edinburgh University Sports Fair
164              1  Royal Highland Show - West Gate (19th to 23rd ...
165              1                        Cycling Scotland Conference
166              1                       City Chambers Launch Station
167              1                                       Picady Place

[168 rows x 2 columns]

In [5]:
data_f = data_f.set_index(['nazev_stanice'])
data_f

                                                    pocet_odjezdu
nazev_stanice
Meadows East                                                17390
Bristo Square                                               12846
Meadow Place                                                12464
St Andrew Square                                            12218
Portobello - Kings Road                                     11843
...                                                           ...
Pleasance - Edinburgh University Sports Fair                    2
Royal Highland Show - West Gate (19th to 23rd J...              1
Cycling Scotland Conference                                     1
City Chambers Launch Station                                    1
Picady Place                                                    1

[168 rows x 1 columns]

In [6]:
dotaz2 = 'WITH prijezdy AS (SELECT count(`end_station_name`) AS pocet_prijezdu,`end_station_name` AS nazev_stanice FROM edinburgh_bikes GROUP BY `end_station_name` ORDER BY count(`end_station_name`) DESC) SELECT * FROM prijezdy'
data2 = pd.read_sql(sql=dotaz2, con=masina)
#data2
data_f2 = pd.DataFrame(data2)
data_f2

     pocet_prijezdu                                      nazev_stanice
0             16656                            Portobello - Kings Road
1             15254                                      Victoria Quay
2             15225                                       Meadows East
3             11940                                         Canonmills
4             11264                                        Duke Street
..              ...                                                ...
164               3                        Sustrans - walk cycle event
165               2                                      Virtual Depot
166               2  Royal Highland Show - West Gate (19th to 23rd ...
167               2                        Cycling Scotland Conference
168               1                                       Picady Place

[169 rows x 2 columns]

In [9]:
data_f2 = data_f2.set_index(['nazev_stanice'])
data_f2

                                                    pocet_prijezdu
nazev_stanice
Portobello - Kings Road                                      16656
Victoria Quay                                                15254
Meadows East                                                 15225
Canonmills                                                   11940
Duke Street                                                  11264
...                                                            ...
Sustrans - walk cycle event                                      3
Virtual Depot                                                    2
Royal Highland Show - West Gate (19th to 23rd J...               2
Cycling Scotland Conference                                      2
Picady Place                                                     1

[169 rows x 1 columns]

In [11]:
data_f3 = data_f.join(data_f2, how="right")
data_f3

,pocet_odjezdu,pocet_prijezdu
nazev_stanice,,
Portobello - Kings Road,11843.0,16656
Victoria Quay,10662.0,15254
Meadows East,17390.0,15225
Canonmills,9551.0,11940
Duke Street,7288.0,11264
...,...,...
Sustrans - walk cycle event,4.0,3
Virtual Depot,NaN,2
Royal Highland Show - West Gate (19th to 23rd June),1.0,2
Cycling Scotland Conference,1.0,2
Picady Place,1.0,1

# 1.2 Vyfiltrování 10 NEJaktivnějším a NEJneaktivnějších stanic

In [13]:
data_f3[:10]

                         pocet_odjezdu  pocet_prijezdu
nazev_stanice
Portobello - Kings Road        11843.0           16656
Victoria Quay                  10662.0           15254
Meadows East                   17390.0           15225
Canonmills                      9551.0           11940
Duke Street                     7288.0           11264
Leith Walk                      7964.0           11052
Meadow Place                   12464.0            9796
Cramond Foreshore               7313.0            8827
Dundee Terrace                  8801.0            8730
Waverley Bridge                 8569.0            8402

In [14]:
data_f3[:-10]

,pocet_odjezdu,pocet_prijezdu
nazev_stanice,,
Portobello - Kings Road,11843.0,16656
Victoria Quay,10662.0,15254
Meadows East,17390.0,15225
Canonmills,9551.0,11940
Duke Street,7288.0,11264
...,...,...
Royal Highland Show - East Gate (19th to 23rd June),6.0,8
Corn Exchange - walk cycle event,6.0,7
Ingliston Park and Ride (19th to 23rd June),11.0,7
Novotel,5.0,6
Fort Kinnaird,3.0,6