In [27]:
!pip install pymysql
import streamlit as st
from sqlalchemy import create_engine
import pandas as pd
import pymysql

Requirement already satisfied: pymysql in c:\users\legion\anaconda3\lib\site-packages (1.0.2)

[notice] A new release of pip available: 22.2 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

ModuleNotFoundError: No module named 'streamlit'

In [ ]:
st.title('Python projekt na téma Bike Sharing v Edinburku')
if page == 'První úkol':
    st.write('Zobrazení aktivních a neaktivních stanic')
    masina = create_engine("mysql+pymysql://data-student:u9AB6hWGsNkNcRDm@data.engeto.com:3306/data_academy_04_2022")
    dotaz = 'WITH odjezdy AS (SELECT count(`start_station_name`) AS pocet_odjezdu,`start_station_name` AS nazev_stanice FROM edinburgh_bikes GROUP BY `start_station_name` ORDER BY count(`start_station_name`) DESC) SELECT * FROM odjezdy'
    data = pd.read_sql(sql=dotaz, con=masina)
    #data
    data_f = pd.DataFrame(data)
    #data_f
    data_f = data_f.set_index(['nazev_stanice'])
    #data_f
    dotaz2 = 'WITH prijezdy AS (SELECT count(`end_station_name`) AS pocet_prijezdu,`end_station_name` AS nazev_stanice FROM edinburgh_bikes GROUP BY `end_station_name` ORDER BY count(`end_station_name`) DESC) SELECT * FROM prijezdy'
    data2 = pd.read_sql(sql=dotaz2, con=masina)
    #data2
    data_f2 = pd.DataFrame(data2)
    #data_f2
    data_f2 = data_f2.set_index(['nazev_stanice'])
    #data_f2
    data_f3 = data_f.join(data_f2, how='right')
    #data_f3
    data_f3[:10]
    data_f3[:-10]

In [10]:
data_f3[:10]

                         pocet_odjezdu  pocet_prijezdu
nazev_stanice
Portobello - Kings Road        11843.0           16656
Victoria Quay                  10662.0           15254
Meadows East                   17390.0           15225
Canonmills                      9551.0           11940
Duke Street                     7288.0           11264
Leith Walk                      7964.0           11052
Meadow Place                   12464.0            9796
Cramond Foreshore               7313.0            8827
Dundee Terrace                  8801.0            8730
Waverley Bridge                 8569.0            8402

In [12]:
data_f3[:-10]

,pocet_odjezdu,pocet_prijezdu
nazev_stanice,,
Portobello - Kings Road,11843.0,16656
Victoria Quay,10662.0,15254
Meadows East,17390.0,15225
Canonmills,9551.0,11940
Duke Street,7288.0,11264
...,...,...
Royal Highland Show - East Gate (19th to 23rd June),6.0,8
Corn Exchange - walk cycle event,6.0,7
Ingliston Park and Ride (19th to 23rd June),11.0,7
Novotel,5.0,6
Fort Kinnaird,3.0,6

In [ ]:
if page == 'Druhý úkol':
    st.write('Načítá se ...')